<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="logFileLocation" value="C:\Users\jangyoung\Documents\Visual Studio 2015\WebSites\dhpr\logs\"/>
    <add key="rdsJsonUrl" value="http://api.hres.ca/regcontent/api-v1/regulatorydecision/?type=json"/>
    <add key="ssrJsonUrl" value="http://api.hres.ca/regcontent/api-v1/safetyreview/?type=json"/>
    <add key="sbdJsonUrl" value="http://api.hres.ca/regcontent/api-v1/basisdecision/?type=json"/>
    <add key="sbdmdJsonUrl" value="http://api.hres.ca/regcontent/api-v1/basisdecisionMedicalDevice/?type=json"/>
    <add key="rdsmdJsonUrl" value="http://api.hres.ca/regcontent/api-v1/regulatoryDecisionMedicalDevice/?type=json"/>    
  </appSettings>
  
 <system.web>
   <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors defaultRedirect="genericError.html" mode="Off" />  
  </system.web>
   <!-- <system.webServer>
        <defaultDocument>
            <files>
                <add value="index-en.html" />
            </files>
        </defaultDocument>
    </system.webServer>-->

</configuration>